.popup__close {
  background: url(../../../images/CloseIcon.svg);
  border: none;
  background-size: cover;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .5s;
}

.popup__close:hover {
  opacity: .8;
}

@media screen and (max-width: 560px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}