.photo__item-like {
  width: 22px;
  height: 19px;
  margin: 0 0 3px 0;
  padding: 0;
  background: url(../../../images/like.png);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex-shrink: 0;
  transition: opacity .5s;
}

.photo__item-like:hover {
  opacity: .5;
}

